@tailwind base;
  @tailwind components;
  @tailwind utilities;

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 1px;
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0da091, #eef2f3);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/* Corner */
::-webkit-scrollbar-corner {
  background:transparent;
}