@tailwind base;
  @tailwind components;
  @tailwind utilities;

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track of the scrollbar */
::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #8e9eab, #eef2f3);
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #6c7b8c, #ccd1d9);
}

/* Corner */
::-webkit-scrollbar-corner {
  background: #e0e0e0;
}